 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/istockphoto-488651322-612x612.jpg?rand=3a50");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 344px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 98px auto 60px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  margin: 47px auto 0;
}

.u-section-2 .u-list-1 {
  margin: 94px 0 60px;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 240px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  margin: 20px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 35px auto 0;
  padding: 0;
}

.u-section-2 .u-icon-1 {
  font-size: 1.4em;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 710px;
}

.u-section-3 .u-text-1 {
  width: 339px;
  margin: 43px auto 0;
}

.u-section-3 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 39px;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 490px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  margin: 24px 8px 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 26px auto 0;
  padding: 0;
}

.u-section-3 .u-icon-1 {
  font-size: 1.4em;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-text-3 {
  font-size: 3rem;
  margin: 24px 8px 0;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 26px auto 0;
  padding: 0;
}

.u-section-3 .u-icon-2 {
  font-size: 1.4em;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-text-4 {
  font-size: 3rem;
  margin: 24px 8px 0;
}

.u-section-3 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 26px auto 0;
  padding: 0;
}

.u-section-3 .u-icon-3 {
  font-size: 1.4em;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-text-5 {
  font-size: 3rem;
  margin: 24px 8px 0;
}

.u-section-3 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 26px auto 0;
  padding: 0;
}

.u-section-3 .u-icon-4 {
  font-size: 1.4em;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 405px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1470px;
  }

  .u-section-3 .u-text-1 {
    width: 232px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 444px;
}

.u-section-4 .u-text-1 {
  width: 114px;
  margin: 43px auto 0;
}

.u-section-4 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 39px;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 240px;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  margin: 20px 42px 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-4 .u-icon-1 {
  font-size: 1.4em;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-text-3 {
  font-size: 3rem;
  margin: 20px 42px 0;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-4 .u-icon-2 {
  font-size: 1.4em;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    min-height: 198px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 53px;
    margin-right: 53px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 53px;
    margin-right: 53px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 892px;
  }

  .u-section-4 .u-text-1 {
    width: 73px;
  }
}